.run-grey {
    background-color: #ededed;
    color: BLACK;
}

.run-failed {
    background-color: #ce2a27;
    color: #ffffff;
}

.run-started {
    background-color: #2b78e3;
    color: #ffffff;
}

tr.employee-failed td {
    background-color: #f2dede !important;
    color: #A94442 !important;
}
