<h1 class="page-header">Employees </h1>

<form id="generateEmployeesForm" name="generateEmployeesForm" class="form-inline" role="form" ng-controller="GenerateEmployeesCtrl">
    <div class="form-group">
        <label class="control-label" for="employeesCountInput">Set employee size to:</label>
        <input ng-model="GenerateEmployeesModel.employeesCount" type="number" class="form-control"
               id="employeesCountInput" placeholder="new employee size" min="1" max="300000" ng-required="true">
        <input ng-click="generateEmployees(GenerateEmployeesModel.employeesCount)" type="submit" value="Go"
               ng-disabled="generateEmployeesForm.$invalid" class="btn btn-primary"/>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Income</th>
            <th>Total Tax</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees | filter:searchQuery">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.income}}</td>
            <td>{{employee.taxTotal}}</td>
        </tr>
        </tbody>
    </table>
</div>