<h1 class="page-header">Employees </h1>

<div ng-controller="GenerateEmployeesCtrl">
    Set size to: <input type="text" ng-model="GenerateEmployeesModel.employeesCount"><br>
    <a ng-click="generateEmployees(GenerateEmployeesModel.employeesCount)">
        Go
    </a>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Income</th>
            <th>Total Tax</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees | filter:searchQuery">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.income}}</td>
            <td>{{employee.taxTotal}}</td>
        </tr>
        </tbody>
    </table>
</div>