<div class="row">
    <h1>Welcome to the Batchers project</h1>

    <h2>Goal of project TaxCalculator</h2>
    <p>The goal of this project was to learn and test Spring Batch.</p>
    <p>To do so, we created a sample project where a company must calculate and pay taxes to the government for it's employees.</p>

    <h2>Real life?</h2>
    <p>To simulate real life projects, the following was done:</p>
    <ul>
        <li>Calculation of the tax will take a random amount of time that can be configured between a min and a max. This configuration can be done in the <code>taxcalculator-application.properties</code></em></li>
        <li>Paying the taxes is done via a webservice which fails for certain users. This configuration can be done in the <code>taxcalculator-stubwebservice.properties</code></em></li>
    </ul>

    <h2>Need More info?</h2>
    <p><a href="https://github.com/cegeka/batchers">Visit the github page!</a></p>
</div>